.listar-votos-listado-container {
    width: 60%;
    box-sizing: border-box;
    margin: 5% auto;
}

.cantidad-mostrar-container {
    width: 40%;
    display: inline-block;
}

#cantidad-mostrar-select {
    display: inline-block;
    width: auto;
}