<div class="listar-votos-listado-container" *ngIf="votos && votos.length > 0; else loadingContent">
    <app-voto-card *ngFor="let voto of votos | paginate : paginacionConfig" [voto]="voto"></app-voto-card>
    <div class="cantidad-mostrar-container" *ngIf="votos.length > 0">
        <span>Mostrar</span>&nbsp;
        <select [(ngModel)]="paginacionConfig.itemsPerPage" id="cantidad-mostrar-select" class="form-control">
            <option *ngFor="let cantidad of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value] = "cantidad" >
                {{ cantidad }}
            </option>
            <option [value] = "votos.length">
                Todos
            </option>
        </select>
    </div>
    <pagination-controls (pageChange)="paginacionConfig.currentPage = $event" previousLabel="Anterior" nextLabel="Siguiente" *ngIf="votos.length > 0"></pagination-controls>
</div>
<ng-template #loadingContent class="mas-votados-listado-container">
    <ngx-skeleton margin="25px auto" width="60%" borderRadius="15px" height="90px" *ngFor="let item of actualizarRango()"></ngx-skeleton>
    <ngx-skeleton height="50px" margin="45px auto" width="60%" borderRadius="15px"></ngx-skeleton>
</ng-template>
<app-voto-detalle-modal></app-voto-detalle-modal>