<div class="modal fade" id="modalVotoDetalle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title color-primary" *ngIf="storageService.votoSeleccionado">Voto #{{ storageService.votoSeleccionado.id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="storageService.votoSeleccionado">
                <i class="fa fa-vote-yea"></i>&nbsp;&nbsp;Efectuado el día <b>{{ storageService.votoSeleccionado.fecha | date:'dd/MM/yyyy' }}</b> a favor de <b>{{ storageService.votoSeleccionado.nombre_postulante + " " + storageService.votoSeleccionado.apellido_postulante }}</b>
                <div class="datos-votante-container">
                    <label class="datos-votante-title color-primary"><i class="fa fa-user"></i>&nbsp;&nbsp;Datos del votante</label>
                    <div class="row">
                        <div class="col datos-votante-campo">Nombre completo</div>
                        <div class="col datos-votante-campo">Documento</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ storageService.votoSeleccionado.nombre_votante + " " + storageService.votoSeleccionado.apellido_votante }}</div>
                        <div class="col">{{ storageService.votoSeleccionado.documento_votante | documento }}</div>
                    </div>
                    <div class="row">
                        <div colspan="2" class="col datos-votante-campo">Dirección</div>
                    </div>
                    <div class="row">
                        <div class="col" colspan="2">{{ storageService.votoSeleccionado.direccion_votante }}</div>
                    </div>
                    <div class="row">
                        <div class="col datos-votante-campo">Teléfono</div>
                        <div class="col datos-votante-campo">Fecha de nacimiento</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ storageService.votoSeleccionado.telefono_votante }}</div>
                        <div class="col">{{ storageService.votoSeleccionado.dob_votante | date:'dd/MM/yyyy' }}</div>
                    </div>
                    <div class="row">
                        <div class="col datos-votante-campo">Sexo</div>
                        <div class="col datos-votante-campo">¿Es postulante?</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ storageService.votoSeleccionado.sexo_votante | sexo }}</div>
                        <div class="col">{{ storageService.votoSeleccionado.es_postulante_votante | esPostulante }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>