<div class="modal fade" id="modalVotoDetalle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title color-primary" *ngIf="storageService.votoSeleccionado">Voto #{{ storageService.votoSeleccionado.id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="storageService.votoSeleccionado">
                <i class="fa fa-vote-yea"></i>&nbsp;&nbsp;Efectuado el día <b>{{ storageService.votoSeleccionado.fecha | date:'dd/MM/yyyy' }}</b> a favor de <b>{{ storageService.votoSeleccionado.nombre_postulante + " " + storageService.votoSeleccionado.apellido_postulante }}</b>
                <div class="datos-votante-container">
                    <label class="datos-votante-title color-primary"><i class="fa fa-user"></i>&nbsp;&nbsp;Datos del votante</label>
                    <table class="datos-votante-table">
                        <tr>
                            <td class="datos-votante-campo">Nombre completo</td>
                            <td class="datos-votante-campo">Documento</td>
                        </tr>
                        <tr>
                            <td>{{ storageService.votoSeleccionado.nombre_votante + " " + storageService.votoSeleccionado.apellido_votante }}</td>
                            <td>{{ storageService.votoSeleccionado.documento_votante | documento }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="datos-votante-campo">Dirección</td>
                        </tr>
                        <tr>
                            <td colspan="2">{{ storageService.votoSeleccionado.direccion_votante }}</td>
                        </tr>
                        <tr>
                            <td class="datos-votante-campo">Teléfono</td>
                            <td class="datos-votante-campo">Fecha de nacimiento</td>
                        </tr>
                        <tr>
                            <td>{{ storageService.votoSeleccionado.telefono_votante }}</td>
                            <td>{{ storageService.votoSeleccionado.dob_votante | date:'dd/MM/yyyy' }}</td>
                        </tr>
                        <tr>
                            <td class="datos-votante-campo">Sexo</td>
                            <td class="datos-votante-campo">¿Es postulante?</td>
                        </tr>
                        <tr>
                            <td>{{ storageService.votoSeleccionado.sexo_votante | sexo }}</td>
                            <td>{{ storageService.votoSeleccionado.es_postulante_votante | esPostulante }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>