.container {
    max-width: 1100px;
}

.required-field {
    color: red;
}

.acclaration-text {
    color: #777;
    font-size: 14px;
}

html,
body {
    background: url('assets/images/background.png');
    height: 100%;
}

pagination-controls .ngx-pagination {
    padding: 0 !important;
    text-align: right !important;
    margin-top: 40px !important;
    display: inline-block !important;
    width: 60% !important;
}