<form autocomplete="off" (ngSubmit)="login( autenticacionForm )" #autenticacionForm="ngForm">
    <div class="form-group">
        <p class="col-form-label">E-mail <span class="required-field">*</span></p>
        <input type="email" placeholder="ejemplo@gmail.com" class="form-control" required name="email" [ngModel]="usuario.email" />
    </div>
    <div class="form-group">
        <p class="col-form-label">Contraseña <span class="required-field">*</span></p>
        <input type="password" placeholder="*******" class="form-control" required name="contrasenia" [ngModel]="usuario.contrasenia" />
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-outline-primary btn-block">
            Aceptar
        </button>
    </div>
</form>